* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: #3498db;
  background: #ffffff;
}

header {
  background: white;
  margin-bottom: 1em;
  text-align: center;
  padding: 1.25rem;
}

.edit-page {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: white;
}

.form-section, .preview-section {
  width: 100%;
  padding: 1.25rem;
  background: #f4f4f4;
}
.form-section {
  position: sticky;
  top:0;
  left:0;
}

.edit-page > div {
  background: white;
}

#preview-container,
#form-container{
  width: 48%;
}

.form-section form {
  display: flex;
  flex-direction: column;
  color: black;
}
.form-section form label {
  margin-top: 10px;
}
.form-section form input, .form-section form textarea {
  padding: 5px;
  font-size: 16px;
}
.form-section form button {
  margin-top: 1.25rem;
  padding: 10px;
  background-color: rgb(99.6774193548, 99.6774193548, 106.3225806452);
  color: rgb(229.5, 229.5, 229.5);
  font-size: 1.125rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-section form button:hover{
  background-color: #4b4b50;
  color: white;
}

.preview-section #resume-preview {
  border: 1px solid #ccc;
}

/*Icon/button  rules*/
.form-container-hidden {
  display: none;
}

#head-icons {
  top: 0;
  right: 0;
  margin: 2px;
  position: fixed;
  color: #2b3c4d;
}

#head-icons i{
  font-size: 3.5em;
  margin: 0.6em;
}
#head-icons i:hover{
  cursor: pointer;
}

.component {
  background: #ffffff;
}

.component:hover{
  background: #f4f4f4;
}

i:hover{
  cursor: pointer;
}

/* Add icon css rules*/
.fa-trash{
  margin-right: 6px;
}
.fa-trash.trash-icon-edu {
  display:none;
}
.fa-trash.trash-icon-skill{
  vertical-align: top;
  float:right;
  display:none;
}

/*set parent ul a reference by "position: relative;"
then, use "position: absolute;" for child icon.*/
#exp-section ul{
  position: relative;
}
.fa-trash.trash-icon-exp{
  vertical-align: top;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display:none;
}

.fa-trash.trash-icon-visible {
  display:inline-block;
}

/*add-button css rules*/
/* Style for the round rectangle button */
.add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  border: 2px solid #3498db; /* Border color */
  color: #3498db; /* Plus sign color */
  border-radius: 25px; /* Make the corners rounded */
  font-size: 32px; /* Size of the plus sign */
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto 0; /* Add space above the button */
  text-align: center;
  background-color: #ffffff;
}

/* Hover effect */
.add-button:hover {
  background-color: #000000;
  color: white;
  border:gray;
}
section {
  display: flex; /* Make the section a flex container */
  flex-direction: column; /* Stack content vertically */
}

@media (max-width: 2048px) {
  #preview-container {
    width: 62%;
  }
  #form-container {
    width: 32%;
  }
  #head-icons i{
    font-size: 3em;
    margin: 0.5em;
  }
}

@media (max-width: 1536px) {
  #preview-container {
    width: 76%;
  }
  #form-container {
    width: 20%;
  }
  #head-icons i{
    font-size: 2em;
    margin: 0.3em;
  }
}

@media (max-width: 1024px) {
  #form-container,
  #preview-container {
    width: 96%;
  }
  #head-icons i{
    font-size: 1em;
    margin: 0.2em;
  }
}

@media print {
  @page {
    margin: 0; /* important rule for using window.print() */
  }
}


/*template 1 css*/
.template1 {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  min-width: 300px;
  font-size: 16px;
  padding: 0 0 32px;
  aspect-ratio: 1/1.414;
}
.template1 header {
  background-color: #ffffff;
  color: black;
  padding: 1em 0;
  text-align: center;
}
.template1 ul {
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 10px;
}
.template1 section {
  width: 90%;
  margin: 1% 0 2% 5%;
}
.template1 h2 {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/*for priority*/
.pdf {
  aspect-ratio: auto;
}